/*login*/
.login .page-container{
	padding:0;
	}
body.login{
	background:#fff;
	}
.user-login-5 .login-logo.login-6{
	max-height:130px;
	width:auto;
	}
.login .page-footer{
	display:none;
	}

/*fin login*/
@media (max-width: 767px){
	.user-login-5 .login-container>.login-content{
	      margin-top:10px;
		}
	.user-login-5 .login-container>.login-content .login-form{
		margin-top:15px;
		}
	.user-login-5 .login-container>.login-footer{
		margin-top:20px;
		}
	.login .row>.col-sm-12>p,
	.login #thawteseal>a{
		display:block;
		text-align:center;
		}
	.user-login-5 .login-container>.login-content>.login-form .form-control{
		margin-bottom:10px;
		}
	}
	
.blockOverlay{
	opacity:0.5!important;
	}