.ui-autocomplete-loading { 
	background-image:url('../img/ajax-loading.gif');
	background-repeat:no-repeat;
	background-position:right center;
	background-size:18px 18px!important;
}
/* tipos */
body,
.table thead tr th,
.form-control, output,
.table td, .table th,
.page-bar .page-breadcrumb>li>a,
.page-bar .page-breadcrumb>li>span{
    /*font-size:13px;*/
}
.portlet > .portlet-title > .caption{font-size:16px;}
#datos_agenda h2{font-size:14px;}
.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family: "Open Sans", sans-serif!important;}
.fa.green{color:#32c5d2!important;}
.fa.red{color: #e7505a !important;}
#mailscuentas{/*font-size:13px;*/}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{padding:5px;}
.well h2,
.page-content h2,
h2{
    font-size:18px;
}
h3{
    font-size:14px;
}
.page-head{display:inline-block;}
.page-head .page-title>h1 {
    color: #697882;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.page-head .page-title {
    display: inline-block;
    padding: 5px 0 10px;
}
.page-content-white .page-title {
    margin: 5px 0;
}
.page-container-bg-solid .page-content {
    background: #eee;
}
/* fin tipos */


/* colores thema */
.btn-primary.btn-custom{
    background:#5b9bd1;
    border:1px solid #5b9bd1;
}
.btn-primary.btn-custom:hover,
.btn-primary.btn-custom:focus{
    background:#4488c2;
    border:1px solid #4488c2;
}
.btn-outline.btn-custom{background:#fff!important; color:#5b9bd1;}
.btn-outline:hover.btn-custom{background:#5b9bd1!important; color:#fff;}
.qq-gallery .qq-upload-button{background:#5b9bd1!important; border:1px solid #5b9bd1;}
.nav.nav-tabs>li>a>.badge-success{background:#5b9bd1;}
.pestanas_listados > .nav-tabs > li.active a,
.tabbable-custom > .nav-tabs > li.active{
    border-top: 3px solid #5b9bd1;
}
.tabbable-line>.nav-tabs>li.active{
    border-bottom: 4px solid #4488c2;
}
.tabbable-line>.nav-tabs>li:hover{
    border-bottom: 4px solid #83b8e4;
}
/* colores thema */

/* header */
.page-header.navbar .page-logo .logo-default{
    max-width:190px;
    max-height:40px;
    margin: 5px 0 0;
}
.page-header.navbar .search-form.open{
    width:200px!important;
}
.dropdown-menu .slimScrollDiv,
.dropdown-menu-list.scroller{
    height:auto!important;
    overflow:visible!important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external{
    letter-spacing:0;
}
.dropdown.dropdown-user li>a{
    white-space:inherit;
}
/* fin header */

/* agenda */

#minicalendario h3{
    font-size:16px;
    margin-top:0;
}
#minicalendariohtml{
    font-size:13px;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a{
    font-weight:bold;
    color:#5b9bd1;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #5b9bd1;
    background: #5b9bd1;
    color: #fff!important;
}
/* fin agenda */
/* colores texto datos */
.cssSinNegrita{font-weight:normal !important;}
.cssSinNegrita a{font-weight:normal !important;}
.cssdate,
.cssdate a{color:#C77405; white-space:nowrap;}
.csstexto,
.csstexto a{color:#1C5180;white-space:nowrap;}
.csstexto_salto,
.csstexto_salto a{color:#1C5180;white-space:normal;}
.csstextosin,
.csstextosin a{color:#1C5180;white-space:nowrap;}
.cssdefault,
.cssdefault a{color:#6A6B6C;}
.cssemail,
.cssemail a{color:#0B8DEA; text-decoration:underline;}
.cssdni,
.cssdni a{color:#0B3458;  font-style:italic; white-space:nowrap;}
.csscuentabancaria,
.csscuentabancaria a{color:#4F4F50; font-style:italic;}
.cssnumero,
.cssnumero a{color:#636365;}
.cssmoneda,
.cssmoneda a{color:#636365; text-align:right !important; }
.csstelefono,
.csstelefono a{color:#000; font-weight:bold; white-space:nowrap;}
.cssemail:hover,
.cssdni:hover,
.csscuentabancaria:hover,
.cssnumero:hover,
.cssmoneda:hover{text-decoration:underline;} 
.nombredato{color:#737373;}
/* fin colores texto datos */
/* iconos */
.bold{font-weight:bold;}
i.ico-modulo{
    font-style:normal;
}
.ico-modulo{
    position:relative;
    display:inline-block;
    color:#fff;
    text-transform:capitalice;
}
.bigger{
    border-radius:6px;
    width:32px;
    height:32px;
    font-size:14px;
    vertical-align:middle;
}
.smaller{
    border-radius:4px;
    width:16px;
    height:16px;
    font-size:9px;
    vertical-align:middle;
    text-align:center;
}
.medium{
    border-radius:4px;
    width:24px;
    height:24px;
    font-size:14px;
    vertical-align:middle;
}
.ico-modulo.bigger>span{
    top:2px;
    left:5px;
}
.ico-modulo.smaller>span{
    top:-1px;
    left:2px;
}
.ico-modulo.medium>span{
    top:1px;
    left:7px;
}
.ico-modulo>span,
.ico-modulo>i{
    position:absolute;
} 
.ico-modulo>i{
    color: #fff;
} 
.ico-modulo.bigger>i{
    bottom: 2px;
    right: 2px;           
}                     
.ico-modulo .fa{
    font-size:12px;
}
[class^='icon-chevron-']{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.icon-chevron-down:before{
    content: "\f078";
}
.icon-chevron-up:before{
    content: "\f077";
}
/* fin iconos */
/* atajos */
#atajos .fa.fa-wrench{padding-top:6px;}
#atajos .bigger{
    border-radius: 4px;
    width: 24px;
    height: 24px;
    font-size: 12px;
}
#atajos .ico-modulo.bigger>i{
    bottom: -4px;
    right: -5px;
}
#atajos li:hover, #atajos a:hover{background:transparent!important; color:#d7e7ea;}
#atajos.nav>li>a{
    padding: 14px 4px;
    color:#bbc1c8;
}
#atajos .ico-modulo.bigger>span{
    top: -1px;
    left: 2px;
}
#atajos .navbar-nav{
    margin-right:10px;
}
#atajos.nav>li>a:hover .ico-modulo{
    background:#9099a3!important;
}
#atajos img{
    width:24px;
    height:24px;
}
#atajos .fa{
    font-size:17px;
}
/* fin atajos */
/* crontab/menu */
#content_config .form-inline.config{float:right;}
/* fin crontab/menu */
/* fine-uploader */
.col-sm-6>[id^='fine-uploader']{
    margin-top:10px;
}
.qq-gallery .qq-upload-button{background:#5b9bd1!important; border:1px solid #5b9bd1;}
/* fin fine-uploader */
/*dropdown
.page-content .dropdown-menu{
        left:auto;
        right:0;
        }*/
.btn-group>.dropdown-menu:after, .dropdown-toggle>.dropdown-menu:after, .dropdown>.dropdown-menu:after{
    left:auto;
    right:11px;
}
.btn-group>.dropdown-menu:before, .dropdown-toggle>.dropdown-menu:before, .dropdown>.dropdown-menu:before{
    left:auto;
    right:9px;
}		
/*fin dropdown*/

/* gdocu */

.gd-menu > form > select{
    margin-bottom:10px;
}

#formulario_add_gdocu .fa.fa-dropbox{
    font-size: 16px;
    margin-top: 6px;
    margin-left: 5px;
    cursor:pointer;
}
[id^='nueva_opcion_gdocu']{padding-top:8px;}
/* fin gdocu */
/* portlets */
.portlet-title .caption-custom.caption:before{
    content:'';
}
[id^='contenido_actualizacion_'] .portlet-title .caption:before{
    content:"\e098";
}
[id^='contenido_view_'] .portlet-title .caption:before,
[id^='contenido_edit_'] .portlet-title .caption:before{
    content:"\e034";
}
[id^='contenido_edit_'] .caption-custom .caption:before{
    content:"";
}
[id^='dashwidget'] .portlet-title .caption:before{
    content:"\e023"
}
.dashwidget.portlet.box.default > .portlet-title > .caption{
    font-size:14px;
}
.portlet.box.default{
    border:1px solid #e1e5ec;
    background:#fff;
}
.portlet-body + .portlet-title{
    margin-top:15px;
}

[id^="recuadro_relacion_panel"] .badge-default{
    background:transparent;
    color:#666;
}
.portlet-title .caption{
    color:#5b9bd8!important;
    font-weight:bold!important;
}
.portlet-title .caption i[class^='icon-arrow']{
    display:none;
}
.portlet-title .caption:before{
    font-family: Simple-Line-Icons;
    content: "\e05b";
    display:inline-block;
    margin-right:5px;
}
.portlet-title h2{margin-top:0; padding-top:15px;}
.portlet-title .form-group{margin-bottom:0;}
.portlet{margin-bottom:10px;}
.portlet.light{padding:0 20px 8px 20px;}
.portlet.light .portlet-title{margin:0 -20px 0 -20px; background:#fff; padding:0px 20px 0px 20px;}
.portlet.light  > .portlet-title{min-height:25px;}
.portlet.light > .portlet-title > .caption{padding:10px 0;}
.portlet.light > .portlet-title > .tools {
    padding: 10 0 10px 0;
}
.portlet-body .tabbable-custom{
    overflow:visible;
}
#panel_relaciones .portlet:last-of-type .tabbable-custom>.tab-content{ min-height:165px;}
/* fin portlets */

/*inicio blockMsg*/
.blockOverlay{
    opacity:0.5!important;
}
/*fin blockMsg*/
/* listados */
[id^='contenido_list_']{
    clear:both;
}
.tabbable-listados{
    margin-top:-15px;
}
[id^='recuadro_relacion'] .tabbable-listados{
    margin-top:0;
}
.tabbable-dashboard {
}
.dashwidget-content .tabbable-listados{
    margin-top:0;
}
.page-toolbar.pull-right{
    position:relative;
    z-index:8;
}
.dashTableNormal{
    table-layout: fixed;
}
/* fin listados */
/* vista completa */
[id^="panel_"] .form-group div[class^='col-sm-'],
.border-static {
    border-bottom: 1px solid #e7ecf1;
}
[id^="contenido_view_"] [id^="panel_"] .form-group {
    margin-bottom: 0;
}
.tabbable-custom{
    margin-bottom: 8px;
}
.form-control-static img{max-width:100%; height:auto;}
.form-group.form-custom.col-sm-3,
.form-group.form-custom.col-xs-8{
    padding-left:0;
}
#edicioninline:before, #edicioninline:after{
    display:table;content:" ";
}
#edicioninline:after, #edicioninline{clear:both}
#view_Description, #view_descripcion{display:block;}
/* fin vista completa */
/* elmentos formulario */
.form-control,
select, input[type="text"]{
    height:30px;
    padding:4px 6px
}
select, input, textarea{
    border:1px solid #c2cad8;
}
/* fin elementos fomrulario*/
/* inicio nav-sticky*/
.nav-sticky {
    width: 30px;
    height:75px;
    position: fixed;
    top: 35%;
    right: 0;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    z-index: 110;

    /*-webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;*/ }
.nav-sticky .nav-sticky__item {
    width: 30px;
    height:75px;
    background:url(../img/help.png) no-repeat;}
.nav-sticky .nav-sticky__item:hover{
    opacity:0.8;
    cursor:pointer;
}
.nav-sticky .nav-sticky__item > a > i {
    font-size: 1.4rem; }
.nav-sticky .nav-sticky__item > a:hover {
    text-decoration: none; }
.nav-sticky {
    /*background: #fff;*/
    -webkit-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    -moz-box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2); }
.nav-sticky .nav-sticky__item > a > i {
    color: #747F8C; }
.nav-sticky .nav-sticky__item > a:hover > i {
    color: #6b7581; }
/* fin nav-sticky*/
/*inicio quick-nav*/
.quick-nav{
    margin-top:0;
    top:72%;
}
.quick-nav.nav-is-visible{
    top:35%;
}
.quick-nav-trigger, 
.quick-nav .quick-nav-bg{
    width:55px;
    height:55px;
}
.quick-nav .quick-nav-bg{
    background:#3598db;
}
.quick-nav .fa-plus{
    color:#fff; font-size: 34px; margin-top:22px; margin-left:14px;
}
#designstudio-button{margin-top:15px!important; top:75%!important;}
/*fin quick-nav*/
/* tabs, navs*/
.w-25 .btn-group{
    position:absolute;
    z-index:100;
}
.w-25 .btn-group .dropdown-menu:before,
.w-25 .btn-group .dropdown-menu:after{
    border:none;
}
.w-25 .btn-group .dropdown-menu{
    border:1px solid #ddd; 
    position:relative;
}
.tabbable-custom>.nav-tabs>li{
    margin-right:0;
}
#dashv2{
    margin-top:8px;
}
#dashv2.tabbable-custom>.tab-content
/*.contenido_tab_completa>.tabbable-custom>.tab-content*/{
    background:transparent;
    border:none;
    padding:0;
    margin-top:10px;
}
/*#relaciones_tabs{
        margin-bottom:10px;
        }*/
#dashv2>.nav-tabs>li
/*#completa_tabs.nav-tabs>li,
#relaciones_tabs.nav-tabs>li*/{
    margin-left:5px;	
    margin-top:-1px;
}
#dashv2>.nav-tabs>li>a
/*#completa_tabs.nav-tabs>li>a,
#relaciones_tabs.nav-tabs>li>a*/{
    border:1px solid #ddd; 
    border-top:3px solid #ddd;
    padding-bottom:9px;
    padding-top:11px;
}
#dashv2>.nav-tabs>li>a:focus, #dashv2>.nav-tabs>li>a:hover
/*#completa_tabs.nav-tabs>li>a:focus, #completa_tabs.nav-tabs>li>a:hover,
#relaciones_tabs.nav-tabs>li>a:focus, #relaciones_tabs.nav-tabs>li>a:hover*/{
    background-color:#fff;
}

#dashv2>.nav-tabs>li.active>a, #dashv2>.nav-tabs>li.active>a:focus, #dashv2>.nav-tabs>li.active>a:hover
/*#completa_tabs.nav-tabs>li.active>a, #completa_tabs.nav-tabs>li.active>a:focus, #completa_tabs.nav-tabs>li.active>a:hover,
#relaciones_tabs.nav-tabs>li.active>a, #relaciones_tabs.nav-tabs>li.active>a:focus, #relaciones_tabs.nav-tabs>li.active>a:hover*/{
    border-bottom:1px solid #ddd; 
    margin-bottom:0;
    margin-top:1px;
    display:inline-block;
    padding-bottom:11px;
}

.col-sm-12.dashTableNormal{
    padding:0;
}
/* fin tabs, navs*/
/* inicio lateral */
.page-quick-sidebar a{
    color:#99a8b5;
}
.page-quick-sidebar .form-search{
    padding:0 15px;
}
.page-quick-sidebar .form-search .btn{
    width:100%;
    margin-top:10px;
}
/* fin lateral */
/*inicio paginado*/
.pager li>select{
    border:1px solid #ddd;
}
/*fin paginado*/
/*inicio popup*/
.noTitleStuff {
    z-index:10000;
}
/*fin popoup*/
/*inicio conceptos*/
[id^="saldo"] hr{
    margin:5px 0;
}
/*fin conceptos*/
/*inicio tooltip*/
#tooltipContent{
    padding:10px;
}
.tooltipPopup{
    box-shadow: 5px 5px rgba(102,102,102,.1)!important;
    background: #fff;
    border: 1px solid #f2f2f2;
}
.tooltipPopup h2{
    font-weight:bold;
    padding:10px 0;
    border-bottom:1px solid #eef1f5;
    color: #5b9bd8!important;
    margin-top:0;
    margin-bottom:0
}	
.tooltipPopup h2:before {
    font-family: FontAwesome;
    content: "\f06e";
    display: inline-block;
    margin-right: 5px;
}
/*fin tooltip*/
/* modales jquery */
#ui-datepicker-div{
    z-index:10005!important;
}
.ui-widget.ui-widget-content{
    z-index:200!important;
}
ul.ui-widget.ui-widget-content{
    z-index:300!important;
}

@media(max-width:767px){
    .gd-btn{
        margin-top:10px;
    }
    .ui-widget{
        top:100px!important;
    }
}
/*.ui-widget{
        z-index:10000!important;
        }*/
.ui-widget-header {
    background: white !important;
    border: 0px !important;
    border-bottom: 1px solid #ffffff !important;
}
.ui-dialog-titlebar-close{
    border: 0px !important;
    background: white !important;
    color: #ddd !important;
    outline: none;
}
.ui-dialog-titlebar-close:before {
    content: "x";
}
.ui-widget-content .row{
    margin-left:0;
    margin-right:0;
}
.ui-widget-content a.btn-custom,
.ui-widget-content a.btn-custom.btn-outline:hover{
    color:#fff;
}
.ui-widget-content a.btn-custom.btn-outline{
    color:#5b9bd1;
}

.button_Guardar,
.button_Cancelar{
    font-size:14px!important;
}
.button_Guardar:before,
.button_Cancelar:before{
    font-family: FontAwesome;
    margin-right:5px;
}
.button_Guardar:before{
    content: "\f0c7";    
}
.button_Cancelar:before{
    content: "\f00d";
}
.button_Cancelar{
    color: #ea5460;
    background-color: #fff;
    border-color: #ea5460;
}
.button_Cancelar:hover{
    background-color: #ea5460;
    color:#fff;
}
/* fin modales jquery */
/*inicio actuaciones*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    #contenido_add_der_actuaciones form .col-sm-8 .col-sm-6{
        width:100%;	}
    #contenido_add_der_actuaciones form .col-sm-8 label.col-sm-1{
        width: 16.66667%;
    } 
    #contenido_add_der_actuaciones form .col-sm-8 .col-sm-10{
        width: 58.33333%;
    } 
}


/*fin actuaciones*/
/*inicio factura*/
#ficha_factura_datos select.col-sm-5{
    width:auto!important;
}
/*fin factura*/
/* utiles */
/********** útiles ***********/
.margin-top{
    margin-top:10px!important;
}
.no-margin-top{
    margin-top:0!important;
}
.no-margin-right{
    margin-right:0!important;
}
.no-margin{
    margin:0!important;
}
.margin-top{
    margin-top:10px;
}
.margin-bottom{
    margin-bottom:10px!important;
}
.margin-right{
    margin-right:10px!important;
}
.margin-left{
    margin-left:10px!important;
}
.margin-top-20{
    margin-top:20px!important;
}
.margin-bottom-20{
    margin-bottom:20px!important;
}
.margin-right-20{
    margin-right:20px!important;
}
.margin-left-20{
    margin-left:20px!important;
}
.padding-top{
    padding-top:10px!important;
}
.padding-top-20{
    padding-top:20px!important;
}
.no-padding-left{
    padding-left:0!important;
}
.padding-left{
    padding-left:10px!important;
}
.padding-left-15{
    padding-left:15px!important;
}
.padding-right{
    padding-right:10px!important;
}
.clearfix{
    clear:both!important;
}
.clear-left{
    clear:left;
}
.pointer{
    cursor:pointer;
}
.inline{
    display:inline-block;
}
.block{
    display:block;
}
.middle{
    vertical-align:middle;
}
.text-left{
    text-align:left!important;
}
.w-100{width:100px;}
.w-25{width:25px;}
.w-auto{width:auto!important;}
.white{color:#fff;}
.grey{color:#6f6f6f}
.note-danger .btn-danger{
    background:transparent;
    color:#e73d4a;
    font-weight:bold;
}
/* fin utiles */
.gd-alta{
    background:#3598db;
    margin-top: 0;
    top: 72%;
    position: fixed;
    z-index: 10103;
    right:10px;
    border-radius: 50%!important;
    width: 55px;
    height: 55px;
    color:#fff;
}
.gd-alta a{
    color:#fff;
    display: inline-block;
    width: 55px;
    /* height: 55px; */
    font-size: 34px;
    text-align: center;
    line-height: 55px;
}
/* responsive */
@media (max-width:320px){
    .pager li:first-child{
        display:block;
        margin-bottom:8px;
    }
}
@media (max-width:374px){
    .page-head + .page-toolbar{
        /*margin-top:-30px!important;*/
        margin-bottom:8px;
    }
    .page-head + .page-toolbar + form{
        clear:both;
    }
}
@media (max-width:767px){
    #atajos{
        display:none;
    }
    .pager span{
        display:none;
    }
    .pager li:last-child{
        display:block;
        margin-top:8px;
    }

    .arbolcarpetas{
        width:100%!important;
        height:auto!important;	
        margin-bottom:10px;
    }
    .form-group.form-custom.col-sm-7>.input-group.input-group-sm{
        padding-right:7px;
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu{
        margin-right:0!important;
    }
    #contenido_botones_viewgroups_reports{
        float:none!important;
        margin-bottom:8px;
        text-align:right;
    }
    #contenido_viewgroups_reports>form>table>tbody>tr>td{
        width:100%!important;
        display:block!important;
    }
    #contenedorDash{
        text-align:right;
    }
    #contenedorDash .btn.pull-right{
        float:none;
    }
    #contenedorDash .btn.pull-right span{
        display:none;	
    }
    #dashv2 .pager li:last-child{
        display:inline-block;
        margin-top:0;
    }
    #dashv2 .pager>li:nth-child(2),
    #dashv2 .pager>li:nth-child(5){
        display:none;
    }
    .btn-group.open>.dropdown-menu{
        left:auto;
        right:0;
    }
    .btn-group.open>.dropdown-menu>li>.dropdown-menu{
        display:block;
        position:relative;
        left:0;
        box-shadow:none;
    }
    .btn-group.open>.dropdown-menu>.dropdown-submenu>a{
        font-weight:600;
    }
    .btn-group.open>.dropdown-menu>.dropdown-submenu>a:after{
        top:auto;
        content:"\f107";
    }
    .page-content-wrapper .page-content .page-title{
        margin-bottom:0!important;
    }
    .page-head + [id^='contenido_botones_view']{
        margin-top:0px;
        float:none!important;
        text-align:right;
        margin-bottom:8px;
    }
    .arbolfechas{
        margin-bottom:10px;
        background-color:#F3F7FB !important;
    }
}
@media (min-width:768px){
    .navbar-nav.atajos>li>a {
        padding: 10px 8px 10px;
    }
    .no-pad-left-res{
        padding-left:0;
    }
    /*.col-facturar{margin-right:230px; padding:0 15px;}
    .col-facturar-2{width:220px;float:right;}*/
    #lateral_factura{
        margin-top:-60px;
    }
    #lateral_factura hr{
        margin:8px 0;
    }

    [id^='nueva_opcion_gdocu'] .col-sm-6{padding-right:20px;}
    [id^='nueva_opcion_gdocu'] .col-sm-3{padding-left:10px;}
    /*#contenido_botones_list_remesas .btn{margin-bottom:-160px;}*/
    #contenido_view_cobros_clientes .form-group>span.pull-right{
        float:left!important;
        width: 33.33333%;
        display:inline-block;
        text-align:right;
    }
    #contenido_view_cobros_clientes .form-group>span[id^="view_"]{
        float:left;
        width: 66.66667%;
        display:inline-block;
    }
    .label-exportacion{
        width:130px;
        text-align:right;
        padding-right:5px;	
    }
    .form-control.input-xxlarge{
        width:90%;
    }
    #zonafiscal .portlet{
        min-height:215px;
    }
    .fixed-responsive{
        position:fixed;
    }
    .filtros>.table-responsive{
        position:relative;
    }
    .filtros>.table-responsive>table{
        position:absolute; 
        top:0;
    }
    [id^="contenido_botones_view_"]{
        margin-top:10px;
    }
    .calendar{
        position:relative;
    }
    .calendar>.portlet-body>.btn{
        position: absolute;
        left: -10px;
        top: 0px;
        cursor: pointer;
        background: #fff;
        padding: 4px;
        border-bottom-left-radius: 6px!important;
        border-top-left-radius: 6px!important;	
    }
    .calendar .col-sm-2{
        width:230px;
    }
    .calendar .col-sm-10{
        width:calc(100% - 230px);
    }
    .page-toolbar .btn-group .dropdown-menu{
        left:auto;
        right:0;
        min-width:180px;
    }
    .page-toolbar .btn-group .dropdown-menu .dropdown-menu{
        right:auto;
        left:-180px!important;
    }
    .gd-menu{
        /*position:fixed;*/
        width:200px;
        float:left;
    }
    .gd-list{
        margin-left:220px;
        padding-bottom:50px;
    }
    .gd-btn{
        text-align:right;
        padding-top:8px;
    }
    #contenido{position:relative;}
    .arbolfechas{
        width: 200px;
        float: left;
        background-color:#F3F7FB !important;
    }
    .arbolfechas-list{
        margin-left:220px;
        padding-right:10px;
    }
    .page-sidebar-menu-closed>.nav-item>.sub-menu{
        box-shadow: 5px 5px rgba(102,102,102,.1)!important;
        background: #fff;
        border: 1px solid #f2f2f2;
    }
    .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a{
        background:#747F8C;
        color:#fff;
    }
    .page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar .page-sidebar-menu>li.open>a>i, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar .page-sidebar-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i{
        color:#fff;
    }
    .page-header.navbar .search-form{
        width:200px;
    }
    .page-header.navbar .search-form .input-group .form-control{
        text-indent:0;		
    }
    .dashwidget-content>.tabbable{
        min-height:400px;	
    }
    [class^='col-lg-'] .text-right-lg {
        text-align:right;
    }
}
@media (max-width:991px){
    .dashTableNormal>tbody>tr>td{
        display:block;
        width:100%!important;
    }
    .dashwidgetfalso{
        height:1px;
    }
}
/* fin responsive */
/*.dropdown-menu {
    float:right;
}*/
/*jstree*/
.jstree-eplan h1, .jstree-eplan h2, .jstree-eplan h3, .jstree-eplan h4{
    font-size:13px!important;
    display:inline!important;
}
.twitter-typeahead input[type="text"]{padding:0; height:auto;}
.bootstrap-tagsinput {width: 100%;}
/*img zoom*/
#contenido_viewcontenido_gdocu form{
    border:1px solid #c2cad8;
    margin-bottom:8px;
    text-align:center;
}
#capa_botones_zoom{
    padding:8px;
    background:#5b9bd1;
    width:300px;
    margin:auto;
    text-align:center;
    margin-bottom:8px;
}
#capa_botones_zoom .btn{
    background:transparent;
    color:#fff;
}
#capa_botones_zoom .btn:hover,
#capa_botones_zoom .fa:hover{
    color:#c2cad8!important;
}
.portlet-title.zoom .caption:before{
    content: "\f025";
    font-family: FontAwesome;
}
#mensaje-chat{
    overflow: hidden;
    overflow-wrap: break-word;
    resize: horizontal;
}
.bocadillo-mensaje{
    margin: 10px 0; display: inline-block; position: relative; width: 80%; height: auto; border-radius: 5px; border: 1px solid; padding: 10px;
}
.consulta-bocadillo{
    clear:both;font-style: italic;
}
#capa_botones_zoom input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
#capa_botones_zoom input[type=range]:focus {
  outline: none;
}
#capa_botones_zoom input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #0d4473, 0px 0px 0px #053660;
  background: #fff;
  border-radius: 25px;
  border: 0px solid #0d4473;
}
#capa_botones_zoom input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #0d4473, 0px 0px 0px #053660;
  border: 0px solid #0d4473;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #0c3b6a;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
#capa_botones_zoom input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}
#capa_botones_zoom input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #0d4473, 0px 0px 0px #053660;
  background: #fff;
  border-radius: 25px;
  border: 0px solid #0d4473;
}
#capa_botones_zoom input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #0d4473, 0px 0px 0px #053660;
  border: 0px solid #0d4473;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #0c3b6a;
  cursor: pointer;
}
#capa_botones_zoom input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
#capa_botones_zoom input[type=range]::-ms-fill-lower {
  background: #fff;
  border: 0px solid #0d4473;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #0d4473, 0px 0px 0px #053660;
}
#capa_botones_zoom input[type=range]::-ms-fill-upper {
  background: #fff;
  border: 0px solid #0d4473;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #0d4473, 0px 0px 0px #053660;
}
#capa_botones_zoom input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #0d4473, 0px 0px 0px #053660;
  border: 0px solid #0d4473;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #0c3b6a;
  cursor: pointer;
}
#capa_botones_zoom input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
#capa_botones_zoom input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}
#bbit-cs-buddle{
   z-index:11000!important; 
}
.custom-combobox {
    position: relative;
    display: inline-block;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}
.selectize-custom .selectize-input{
    padding:0 8px !important;
}
.selectize-custom .selectize-input > .item{
    padding: 6px 0 !important;
}
.selectize-custom.selectize-control.single .selectize-input {
   background-image:none !important;
   background-color:#FFF !important;
   box-shadow:none !important;
}
.selectize-custom .selectize-input {
    border:1px solid #c2cad8 !important;
}
select + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}

select + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

select + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select + .chosen-container .chosen-results li , 
select + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select + .chosen-container .chosen-results li:hover, 
select + .chosen-container .chosen-results li.active-result:hover,
select + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

select + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

select + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

select + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

select + .chosen-container-multi.chosen-container-active .chosen-choices,
select + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}